{% extends 'backend.html.twig' %}

{% block title_container %}Tableau de bord{% endblock %}

{% block page_name %}Tableau de bord{% endblock %}

{% block inner_container %}
    <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Commandes en cours <span>| Aujourd'hui</span></h5>
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart" 
                      style="padding:15px 23px; background:#F6F6FE;color:#4154f1; border-radius:50%; font-size:30px"
                      ></i>
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size:30px; font-weight:700">{{commandeEnCours}} commandes</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">augmentation</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Commandes validées <span>| Aujourd'hui</span></h5>
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <i class="bi bi-calendar2-check"
                      style="padding:15px 23px; background:#E0F8E9;color:#67CD6A; border-radius:50%; font-size:30px"
                      ></i>
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size:30px; font-weight:700">{{commandeValide}} commandes</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">augmentation</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Revenue Card -->
            
            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Commandes annulées <span>| Aujourd'hui</span></h5>
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <i class="bi bi-x-octagon-fill"
                      style="padding:15px 23px; background:#fab1a0;color:#F97F51; border-radius:50%; font-size:30px"
                      ></i>
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size:30px; font-weight:700">{{commandeInvalide}} commandes</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">baisse</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Customers Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Menu <span>| Le plus vendu</span></h5>
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <img width="75px" src="{{asset("assets/img/menus/")}}{{menuPlusVendu.image}}">
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size:30px; font-weight:700">{{menuPlusVendu.commandes|length}} commandes</h6>
                      <span class="text-success small pt-1 fw-bold">5%</span> <span class="text-muted small pt-2 ps-1">augmentation</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Recettes <span>| Aujourd'hui</span></h5>
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <i class="bi bi-coin"
                      style="padding:15px 23px; background:#9AECDB;color:#58B19F; border-radius:50%; font-size:30px"
                      ></i>
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size:30px; font-weight:700">{{revenu}} F CFA</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">baisse</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Customers Card -->
            

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales">
                <div class="card-body">
                  <h5 class="card-title">Ventes récentes <span>| Derniéres commandes</span></h5>
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Clients</th>
                        <th scope="col">Menus</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for commande in commandes %}
                        <tr>
                          <th scope="row"><a href="{{path('dashboard_command')}}">{{commande.id}}</a></th>
                          <td>{{commande.client.nomComplet}}</td>
                          <td>
                            {% for menu in commande.menus %}
                              {{menu.libelle}}, 
                            {% endfor %}
                          </td>
                          <td>{{commande.prix}} F CFA</td>
                          <td><span 
                          {% if commande.etat == 'En cours' %}
                            class="badge bg-warning"
                          {% elseif commande.etat == 'Prete' %}
                            class="badge bg-success"
                          {% else %}
                            class="badge bg-danger"
                          {% endif %}
                          >{{commande.etat}}</span></td>
                          <td>{{commande.commandedAt|date('d-m-Y')}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- End Recent Sales -->
          </div>
{% endblock %}